@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Jura", sans-serif;
    width: 100%;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    width: 13px;
}
body::-webkit-scrollbar-track{
    background: #423849;
}
body::-webkit-scrollbar-thumb{
    background: #1D052F;
    border-radius: 3px;

}
.container.company{
    background: #FFFFFF;
}
.container{
    background:radial-gradient(38.59% 35.8% at 50% 54.01%, rgba(184, 0, 255, 0.51) 0%, rgba(69, 15, 96, 0.51) 54.69%, rgba(44, 9, 66, 0.51) 74.48%, rgba(13, 2, 27, 0.51) 100%) 400px -700px,url("./assets/mainIMGp.svg") 55vw 300px, #0D021B center;

    width: 100%;
    margin: auto;
    height: auto;
    background-repeat: no-repeat;
}.content{
     width: 75%;
     margin: auto;
 }
header{

    z-index: 1000;
    top: 0;
    padding: 14px 0;
    display: grid;
    grid-template-columns: 50% 40% 10%;
    align-items: center;
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
.navigation{
    display: flex;
    gap: 10%;
    justify-content: center;
}.navigation a:hover{
    color: #8519B0;
 }
.login{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: right;
    gap: 4%;
    cursor: pointer;
}.login p{
     font-size: 15.4573px;
 }
.line{
    position: absolute;
    top: 69px;
    left: 0;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.16);;
}
.circle_block{
    z-index: 9999;
    width: 600px;
    top:180px;
    left: 53%;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.mainContent{
    width: 690px;
    margin-top: 240px;
    color: white;

}.mainContent h1{
     font-weight: 500;
     font-size: 71.5487px;
     line-height: 85px;
     letter-spacing: -0.01em;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 24px;
 }.mainContent h1 span{
    color: #CB00FF;
   }

  .mainContent ul{
      margin-top: 57px;
      font-weight: 500;
      font-size: 24.5532px;
      line-height: 29px;
      letter-spacing: -0.01em;
      display: flex;
      flex-direction: column;
      gap: 7px;
      list-style-type:disc;
      margin-left: 22px;
  }

.hLine{
    left: 0;
    border: 4px solid #FFFFFF;
    width: 0px;
    height: 161.73px;
}
.buttons{
    position: sticky;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 40px;
    margin-top: 171px;
}.buttons a{
     display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
     font-size: 23px;
     line-height: 27px;
     letter-spacing: -0.01em;
     width: 42%;
     height: 64px;
     background: #8519B0;
 }.buttons a:nth-child(2){
    background: none;
       border: 4px solid #8519B0;
   }
.spikersBlock{
    z-index: 9999;
    color: white;
    padding-bottom: 300px;

}
.spikeH{
    margin-top: 215px;
    font-weight: 700;
    font-size: 53.015px;
    line-height: 63px;
    /* identical to box height */

    letter-spacing: -0.01em;

    color: #FFFFFF;
}
.spikers{
    margin-top: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.spikers .blockText{
    background: #FFFFFF;
    border-radius: 35px;
    width: 100%;
    height: 468px;
}
.emploee{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
}.emploee p{
     font-weight: 500;
     font-size: 53.015px;
     line-height: 63px;
     letter-spacing: -0.01em;
     color: #FFFFFF
 }
 .emploee .absoluteInfo{
     position: absolute;
     display: flex;
     align-items: center;
     flex-direction: column;
     justify-content: center;
     top: 1720px;
 }
 .emploee img{
     border-radius: 50%;
     border: 7px solid #FFFFFF;
 }
h2{
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    /* identical to box height */

    letter-spacing: 0.065em;
}
p{
    font-weight: 700;
    font-size: 29.2318px;
    line-height: 35px;
    letter-spacing: 0.065em;
}
.block_Selectors{
    margin-top: 89px;
}.block_Selectors h3{
     font-weight: 700;
     font-size: 39.188px;
     line-height: 46px;
     letter-spacing: 0.065em;

     color: #000000;
    text-shadow: 1px 0 0px #000000;
 }
.block_Selectors .b{
    margin-top: 70px;
}
.flex_items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 29.7871px;
    line-height: 35px;
    letter-spacing: 0.065em;
}
.blocks{

    cursor: pointer;
}
.c1{
    margin-top: 180px;
    margin-bottom: 180px;
}
.liner{
    width: 100%;
    border: 1px solid #000000;
}
.flex_items p{
    padding: 27px 0;
    cursor: pointer;
}.openD{
     transform: rotate(-180deg);
     animation: 1s;
 }
.none{
    display: none;
}
.flex_items{
    color: black;
}
.active{
    display: block;
}
.contOpen{
    display: flex;
    justify-content: space-between;
}
.blocks div{
    font-weight: 700;
    font-size: 22px;
    line-height: 31px;
    letter-spacing: -0.01em;
    color: #000000;
    margin-bottom: 27px;
}.blocks div .text{
    width: 65%;
 }
 .time{
     display: flex;
     align-items: center;
     gap: 10px;
 }.time p:nth-child(2){
    padding-right: 10px;
   }

.time p{
    font-weight: 700;
    font-size: 15.486px;
    line-height: 18px;
    letter-spacing: -0.01em;
}
.linerForTime{
    width: 100%;
    height: 1px;
    background: black;
}
.company{
    margin-bottom: 180px;
}
.company h3{
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    letter-spacing: 0.065em;
    text-shadow: 1px 0px 0px #000;
    margin-bottom: 100px;

}
.images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 50px;
    align-items: center;
    justify-content: center;
    margin: auto;
    list-style: none;
}
.images li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: auto;
}.images li img{
   width: 100%;
 }
.payment{
    padding: 200px 0;
    background: #0D021B;
}
.block_payment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 85px;
    padding-bottom: 50px;
}
.cont{
    width: 90%;
    margin: auto;
    padding: 50px 0;
}
.block_info{
    width: 80%;
    height: 600px;
    background: white;
    border-radius: 6px;
}
.block_flex_info{
    display: flex;
    justify-content: space-between;
    margin-top: 43px;

}
.header_payment{
    height: 55px;
    background: url("./assets/Ellipse.svg") center 157px,linear-gradient(270deg, #9000B5 0%, #CB00FF 58.08%, rgba(13, 2, 27, 0.83) 104.22%);
    border-radius: 6px 6px 0px 0px;
    width: 100%;
}

.block_payment h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.065em;
}
.block_payment p{
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.065em;
}
.block1 div{
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.065em;
    color: #000000;
    text-shadow: 1px 0 0 black;
    margin-top: 20px;
}.block1 div span{
     font-size: 16px;
    text-shadow: none;
 }
.discount{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: right;
}
.block_sq{
   background: #CB00FF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    height: 100px;
    width: 25%;
    padding-left: 15px;
    position: relative;
    left: 1px;
    color: #FFFFFF;

}
.block_sq h3{
    padding: 0;
}
.block_sq p{
    width: 150%;
    position: relative;

    font-size: 13px;
}
.block_tr{
    border-width: 50px 0 50px 90px;
    border-color: transparent transparent transparent #CB00FF;
    border-style: solid;
}
.promoCode{
    box-sizing: border-box;
    display: inline-block;
    margin-top: 100px;
    font-size: 15px;
    text-decoration: 2px black dashed underline;
    cursor: pointer;
}.promoCode:hover{
    color: #9000B5;
 }

.lineNL{
    width: 100%;
    border: 1px solid #000000;
    margin-top: 62px;
}
.block_ERN{

    margin-top: 44px;
}
.block_ERN ul li{
    list-style-type: none;
}
.block_ERN ul li::before {
    color: #CB00FF; /* Цвет маркера */
    content: "✔"; /* Сам маркер */
    padding-right: 10px; /* Расстояние от маркера до текста */
}

.block_pay{
    width: 400px;
    height: 600px;
    background: #FFFFFF;
    border-radius: 6px;
}.block_pay h2{
     font-size: 20px;
     line-height: 24px;
     letter-spacing: 0.065em;
 }
.block_Buttons{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 26px;
}
input{
    box-sizing: border-box;
    width: 100%;
    padding: 16px 28px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.28);
}
.buttons_Send{
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    gap: 11px;

}.buttons_Send input{
    color: black;
     border: 2px solid #000000;
     font-size: 20px;
     font-family: 'Jura';
 }
.buttons_Send input:nth-child(1){
    color: #FFFFFF;
     background: #CB00FF;
     border: none;
 }.block_pay p{
      font-size: 10px;
      line-height: 12px;
    margin-top: 20%;
      letter-spacing: 0.065em;
  }.block_pay .lineNL{
    margin-top: 10px;
     }

.footer{
    margin-top: 200px;
    background: #FFFFFF;
    margin-bottom: 50px;
}
.block_Adress{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 29.7871px;
    line-height: 35px;
    letter-spacing: 0.065em;
    margin-bottom: 177px;
}
.block_Adress p{
    color: rgba(0, 0, 0, 0.43);
}
.emaile h3{
    font-size: 57.7279px;
    line-height: 68px;
    letter-spacing: 0.065em;
    color: black;
}.emaile p{
     font-size: 29.0883px;
     line-height: 34px;
     letter-spacing: 0.065em;

     color: rgba(0, 0, 0, 0.54);
 }
.license{
    display: flex;
    align-items: center;
    justify-content: left;
    line-height: 22px;
    letter-spacing: 0.065em;
    color: rgba(0, 0, 0, 0.43);
    gap: 10px;
    margin-top: 224px;
}.license img{
    width: 20px;
 }.license p{
       font-size: 15px;
   }
@media screen and (min-width: 1441px){
    .content{
        width: 1440px;
        margin: auto;
    }
}
@media screen and (max-width: 1440px){
    .content{
        width: 90%;
        margin: auto;
    }
}